.AppList {
  display: grid;
  padding: 0;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 15px;
}

.AppList .item {
  list-style: none;
}

.AppList .item a {
  background-color: transparent;
  border-bottom: 0;
  transition: opacity 250ms ease-out;
}

.AppList .item a:hover {
  opacity: 0.66;
}

.AppList .item img {
  border-radius: 12px;
}
