.CodeExample {
  background-color: $dark;
}

@media only screen and (min-width: 736px) {
  .CodeExample {
    margin-top: -50px;
    margin-left: -50px;
    margin-right: -9999px; /* bleed into right */
  }
}
