.Community .content {
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 480px) {
  .Community .Heading {
    width: 100%;
    padding: 0 1rem;
    margin-bottom: 1.5rem;
  }
}

@media only screen and (min-width: 481px) and (max-width: 960px) {
  .Community .Heading {
    width: 100%;
    padding: 0 4rem;
    margin-bottom: 1.5rem;
  }

  .Community .AppList {
    width: 100%;
    max-width: 500px;
    margin: 2rem auto;
  }
}

@media only screen and (min-width: 961px) {
  .Community .column.first {
    border-right: 1px solid $divider;
  }
}

.Community .firstP {
  display: flex;
  align-items: center;
}

.Community .firstP span {
  margin-left: 20px;
  font-size: 17px;
}

.Community .last {
  margin-top: 10px;
}

.Community .Heading {
  color: black;
}
