.DocsAndTalks .TwoColumns {
  grid-template-columns: 2fr 1fr;
}

.DocsAndTalks iframe {
  width: 560px;
  height: 315px;
}

@media screen and (max-width: 960px) {
  .DocsAndTalks iframe {
    width: 300px;
    height: 169px;
  }
}
