/* Make video flush with the bottom */
.FastRefresh {
  margin-bottom: -50px;
}

/* Get rid of extra padding at the bottom of the video */
.FastRefresh .column.last {
  margin-bottom: -6px;
}

@media only screen and (max-width: 480px) {
  .FastRefresh .column.last {
    padding: 0;
  }

  .FastRefresh video {
    width: 100%;
  }
}

@media only screen and (min-width: 481px) and (max-width: 960px) {
  .FastRefresh .TwoColumns {
    grid-gap: 2rem;
  }

  .FastRefresh .column.last {
    width: 100%;
    padding: 0;
  }

  .FastRefresh video {
    width: 100%;
  }
}

@media only screen and (min-width: 961px) {
  /* Give video more space than text */
  .FastRefresh .TwoColumns {
    grid-template-columns: 2fr 1fr;
  }

  /* Make video flush with top of section */
  .FastRefresh .last {
    margin-top: -50px;
  }

  /* Need to set video height so it'll fit */
  .FastRefresh video {
    height: 340px;
    /* width: 100%; */
  }
}
