.Feature {
  overflow: hidden;
}

@media screen and (max-width: 960px) {
  .Feature .column.last {
    margin-top: 1rem;
  }

  .Feature.Intro .column.last {
    max-height: 300px;
  }

  .Feature .CodeExample {
    margin: 0 -999px -50px;
    padding-left: 999px;
    height: 24rem;
  }

  .Feature .CodeExample code {
    padding: 1.25rem 0;
    font-size: 11px;
  }

  .Feature.ReactRefresh video {
    width: 100%;
  }
}

.Feature .CodeExample {
  background-color: $dark;
  overflow-y: scroll;
}

@media only screen and (min-width: 961px) {
  .Feature {
    max-height: 450px;
  }

  .Feature.Intro {
    max-height: 425px;
  }

  /* Correct for whitespace in the image of phones */
  .Feature.Intro img {
    margin-top: -1.5rem;
  }

  .Feature .CodeExample {
    margin-top: -50px;
    margin-left: -50px;
    margin-right: -9999px; /* bleed into right */
  }

  .Feature.ForEveryone {
    height: 400px;
  }

  .Feature.ReactRefresh {
    padding: 0;
    /* height needs to be set to equal that of the video or there's weird spacing */
    height: 340px;
  }

  .Feature.ReactRefresh .first {
    padding-top: 50px;
  }

  .Feature.ReactRefresh .TwoColumns {
    grid-template-columns: 2fr 1fr;
  }

  .Feature.ReactRefresh video {
    height: 340px;
  }

  .Feature.Talks .TwoColumns {
    grid-template-columns: 1fr 2fr;
  }
}

.Feature.Talks iframe {
  width: 560px;
  height: 315px;
}

@media only screen and (max-width: 760px) {
  .Feature.ReactRefresh .column.last {
    width: 100%;
    margin-bottom: -50px;
  }

  .Feature.Talks iframe {
    width: 100%;
  }
}

@media only screen and (min-width: 761px) and (max-width: 960px) {
  .Feature .column.last {
    width: 50%;
  }
}
