.Feature {
  overflow: hidden;
}

@media screen and (max-width: 960px) {
  .Feature .column.last {
    margin-top: 1rem;
  }

  .Feature.Intro .column.last {
    max-height: 300px;
  }
}

@media only screen and (min-width: 961px) {
  .Feature {
    max-height: 450px;
  }

  .Feature.Intro {
    max-height: 425px;
  }

  /* Correct for whitespace in the image of phones */
  .Feature.Intro img {
    margin-top: -1.5rem;
  }
}

@media only screen and (min-width: 761px) and (max-width: 960px) {
  .Feature .column.first {
    margin-bottom: 2rem;
  }

  .Feature .column.last {
    width: 66.7%;
    margin: 0 auto;
  }
}
