.IntroImage {
  position: relative;
  overflow: hidden;
  height: 400px;
}

.IntroImage .iphone {
  position: absolute;
  width: 300px;
  top: 10px;
  left: 0px;
}

.IntroImage .android {
  position: absolute;
  width: 300px;
  top: 20px;
  left: 80px;
}
