.LogoAnimation .screen {
  transition: all 850ms ease-in-out;
  stroke-opacity: 0;
  width: 400px;
  height: 400px;
  x: -200px;
  y: -200px;
  stroke-width: 5px;
  rx: 2px;
}

.LogoAnimation .background {
  fill: $dark;
}

.LogoAnimation .logoInner {
  transform: scale(1);
  transition: all 850ms ease-in-out;
  transition-delay: 50ms;
}

.LogoAnimation.mobile .logoInner,
.LogoAnimation.mobile2 .logoInner {
  transform: scale(0.67);
}

.LogoAnimation.desktop .logoInner {
  transform: scale(0.5);
}

.LogoAnimation.laptop .logoInner {
  transform: scale(0.33);
}

.LogoAnimation.full .screen {
  stroke-opacity: 0;
  width: 400px;
  height: 400px;
  x: -200px;
  y: -200px;
  opacity: 1;
  rx: 2px;
}

.LogoAnimation.mobile .screen {
  stroke-opacity: 1;
  width: 180px;
  height: 300px;
  x: -90px;
  y: -150px;
  opacity: 1;
  rx: 10px;
  stroke-width: 5px;
}

.LogoAnimation.desktop .screen {
  stroke-opacity: 1;
  width: 200px;
  height: 320px;
  x: -100px;
  y: -160px;
  transform: rotate(-90deg);
  opacity: 1;
  rx: 2px;
  stroke-width: 8px;
}

.LogoAnimation.laptop .screen {
  stroke-opacity: 1;
  width: 150px;
  height: 250px;
  x: -75px;
  y: -125px;
  transform: rotate(-90deg);
  opacity: 1;
  rx: 2px;
  stroke-width: 5px;
}

.LogoAnimation.mobile2 .screen {
  stroke-opacity: 1;
  width: 180px;
  height: 300px;
  x: -90px;
  y: -150px;
  opacity: 1;
  rx: 10px;
  stroke-width: 5px;
  transform: rotate(-180deg);
}

.LogoAnimation.full2 .screen {
  transform: rotate(-180deg);
  stroke-opacity: 0;
}

.LogoAnimation:not(.mobile):not(.mobile2) .speaker {
  opacity: 0;
  transform: scaleX(0);
}

.LogoAnimation:not(.desktop) .stand {
  transform: scaleX(0);
}

.LogoAnimation:not(.laptop) .base {
  transform: scaleX(0);
}

.LogoAnimation .speaker,
.LogoAnimation .stand,
.LogoAnimation .base {
  transition: all 850ms ease-in-out;
}
