.NativeDevelopment {
  overflow-y: hidden;
}

.NativeDevelopment .dissection {
  position: relative;
  margin-top: -50px;
}

.NativeDevelopment .dissection img {
  position: absolute;
  left: 0;
  top: 0;
}

@media only screen and (max-width: 960px) {
  .NativeDevelopment .TwoColumns {
    grid-gap: 2rem;
  }
}

@media only screen and (max-width: 480px) {
  .NativeDevelopment .dissection {
    height: 350px;
  }
}

@media only screen and (min-width: 481px) and (max-width: 960px) {
  .NativeDevelopment .dissection {
    height: 450px;
  }
}

@media only screen and (min-width: 961px) {
  .NativeDevelopment .dissection {
    height: 300px;
  }
}
