.NativeCode .column.last {
  margin-bottom: -50px;
}

.NativeCode pre {
  margin: 0;
}

.NativeCode code {
  border-radius: 0;
}

@media only screen and (max-width: 480px) {
  .NativeCode .column.last {
    width: 100%;
    padding: 0;
    overflow-x: hidden;
  }

  .NativeCode code {
    font-size: 10px;
    padding: 1.25rem 1.25rem;
  }
}

@media screen and (min-width: 481px) and (max-width: 960px) {
  .NativeCode .TwoColumns {
    grid-gap: 2rem;
  }

  .NativeCode .column.last {
    width: 100%;
    padding: 0;
    background-color: $dark;
    height: 28rem;
    overflow-y: scroll;
  }

  .NativeCode code {
    width: 30rem;
    margin: 0 auto;
    padding: 1.25rem 0rem;
  }
}

@media only screen and (min-width: 961px) {
  .NativeCode .TwoColumns .column.right {
    /* Make flush with top and bottom */
    margin-top: -50px;
    /* Get rid of default left padding */
    padding-left: 0;
  }

  .NativeCode .column.right code {
    /* Bleed background into the right */
    margin-right: -9999px;

    padding: 50px 1.5rem;
    height: 450px;
  }
}
