.Section {
  width: 100%;
  min-height: 450px;
  padding-top: 50px;
}

.Section.light {
  background-color: $backgroundColor;
}

.Section.light2 {
  background-color: $tintColor;
}

.Section.dark {
  background-color: $dark;
}

.Section.bottomSpacing {
  padding-bottom: 50px;
}

.Section a {
  text-decoration: underline;
}

.Section a:hover {
  text-decoration: none;
}
