@media only screen and (max-width: 960px) {
  .Talks .TwoColumns {
    grid-gap: 2rem;
  }

  .Talks .column.last {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  /*
   * If the full-width video won't fit, make it full-width.
   * https://jameshfisher.com/2017/08/30/how-do-i-make-a-full-width-iframe/
   */
  .Talks .vidWrapper {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
  }

  .Talks iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

@media only screen and (min-width: 961px) {
  /* Give more width for the video */
  .Talks .TwoColumns {
    grid-template-columns: 1fr 2fr;
  }

  .Talks iframe {
    width: 560px;
    height: 315px;
  }
}
