# Logs
logs
*.log
yarn-debug.log*
yarn-error.log*

node_modules
*.local

# Editor directories and files
.vscode/*
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.tsbuildinfo

scripts/lint-examples/out/

sync-api-docs/generatedComponentApiDocs.js
sync-api-docs/extracted.json

website/.docusaurus
website/.cache-loader
website/build/

# https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
