{
  "overrides": [
    {
      "files": "*.js",
      "options": {
        "arrowParens": "avoid",
        "bracketSpacing": false,
        "jsxBracketSameLine": true,
        "printWidth": 80,
        "singleQuote": true,
        "trailingComma": "es5"
      }
    },
    {
      "files": "*.md",
      "options": {
        "arrowParens": "always",
        "bracketSpacing": true,
        "jsxBracketSameLine": true,
        "printWidth": 66,
        "proseWrap": "never",
        "singleQuote": true,
        "trailingComma": "none"
      }
    }
  ]
}
