:root {
  --brand: #61dafb;
  --dark: #282c34;
  --deepdark: #20232a;
  --light: #373940;
  --text: #1a1a1a;
  --subtle: #6d6d6d;
  --divider: #ececec;
  --tintColor: #f7f7f7;
  --backgroundColor: black;
}
