version: 2.1

# -------------------------
#        EXECUTORS
# -------------------------
executors:
  node:
    resource_class: large
    docker:
      - image: cimg/node:lts

# -------------------------
#        COMMANDS
# -------------------------
commands:
  restore_cache_checkout:
    steps:
      - restore_cache:
          key: v1-repo-{{ .Environment.CIRCLE_SHA1 }}

  run_yarn:
    steps:
      - restore_cache:
          keys:
            - v1-yarn-{{ .Branch }}
      - run:
          name: Yarn Install
          command: yarn install --frozen-lockfile --no-progress --non-interactive --cache-folder ~/.cache/yarn
          working_directory: ~/react-native-website
      - save_cache:
          paths:
            - node_modules
            - ~/.cache/yarn
          key: v1-yarn-{{ .Branch }}

# -------------------------
#        JOBS
# -------------------------
jobs:
  # --------------------------------------------------
  # JOB: setup
  # Checks out the repo, and persists to cache.
  # --------------------------------------------------
  setup:
    executor: node
    working_directory: ~/react-native-website
    steps:
      - checkout
      - save_cache:
          key: v1-repo-{{ .Environment.CIRCLE_SHA1 }}
          paths:
            - ~/react-native-website

  # --------------------------------------------------
  # JOB: lint
  # Lint the docs.
  # --------------------------------------------------
  lint:
    executor: node
    working_directory: ~/react-native-website/website
    steps:
      - restore_cache_checkout
      - run_yarn
      - run: yarn ci:lint

  build:
    executor: node
    working_directory: ~/react-native-website/website
    environment:
      # Needed to avoid OOMs
      NODE_OPTIONS: "--max_old_space_size=4096"
    steps:
      - restore_cache_checkout
      - run_yarn
      - run: yarn build

# -------------------------
#        WORKFLOWS
# -------------------------
workflows:
  # Tests run on master and on forks
  tests:
    jobs:
      - setup

      # Run lints
      - lint:
          requires:
            - setup
      - build:
          requires:
            - setup
