version: 2.1

# -------------------------
#        EXECUTORS
# -------------------------
executors:
  node:
    docker:
      - image: circleci/node:lts

# -------------------------
#        COMMANDS
# -------------------------
commands:
  restore_cache_checkout:
    steps:
      - restore_cache:
          key: v1-repo-{{ .Environment.CIRCLE_SHA1 }}

  run_yarn:
    steps:
      - restore_cache:
          keys:
            - v1-yarn-{{ .Branch }}
      - run:
          name: Yarn Install
          command: yarn install --no-progress --non-interactive --cache-folder ~/.cache/yarn
      - save_cache:
          paths:
            - node_modules
            - ~/.cache/yarn
          key: v1-yarn-{{ .Branch }}

# -------------------------
#        JOBS
# -------------------------
jobs:
  # --------------------------------------------------
  # JOB: setup
  # Checks out the repo, and persists to cache.
  # --------------------------------------------------
  setup:
    executor: node
    working_directory: ~/react-native-website
    steps:
      - checkout
      - save_cache:
          key: v1-repo-{{ .Environment.CIRCLE_SHA1 }}
          paths:
            - ~/react-native-website

  # --------------------------------------------------
  # JOB: test
  # Test that the website can be built.
  # --------------------------------------------------
  test:
    executor: node
    working_directory: ~/react-native-website/website
    steps:
      - restore_cache_checkout
      - run_yarn
      - run: yarn ci-check
      - run: yarn test
      - run:
          name: Check for missing index.html (build errors)
          command: |
            if [ ! -f build/react-native/index.html ]; then
              exit 1;
            fi
  # --------------------------------------------------
  # JOB: lint
  # Lint the docs.
  # --------------------------------------------------
  language_lint:
    executor: node
    working_directory: ~/react-native-website/website
    steps:
      - restore_cache_checkout
      - run_yarn
      - run: yarn lint

  # --------------------------------------------------
  # JOB: deploy_website
  # Deploy website to GitHub Pages in core RN repo.
  # --------------------------------------------------
  deploy_website:
    executor: node
    working_directory: ~/react-native-website/website
    steps:
      - restore_cache_checkout
      - run_yarn
      - run: sudo apt install rsync
      - run:
          name: Build and Deploy Static Website
          command: |
            if [[ $CIRCLE_PROJECT_USERNAME == "facebook" && -z $CI_PULL_REQUEST && -z $CIRCLE_PR_USERNAME ]]; then
              git config --global user.email "reactjs-bot@users.noreply.github.com"
              git config --global user.name "Website Deployment Script"
              echo "machine github.com login reactjs-bot password $GITHUB_TOKEN" > ~/.netrc
              echo "Deploying website..."
              GIT_USER=reactjs-bot CIRCLE_PROJECT_REPONAME=react-native yarn run publish-gh-pages
            else
              echo "Skipping deploy."
            fi

# -------------------------
#        WORKFLOWS
# -------------------------
workflows:
  # Tests run on master and on forks
  tests:
    jobs:
      - setup

      # Run tests
      - test:
          requires:
            - setup

      # Run lints
      - language_lint:
          requires:
            - setup

  # If we are on master, deploy docs
  deploy:
    jobs:
      - setup:
          filters:
            branches:
              only:
                - master

      - deploy_website:
          requires:
            - setup
