footer.nav-footer {
  background-color: $darker;
}

.nav-footer .sitemap h5,
.nav-footer .sitemap h5 a {
  color: #999;
  text-transform: uppercase;
  margin: 0;
}

.nav-footer .sitemap a {
  color: white;
  margin: 2px 0;
  padding: 3px 0;
}

.nav-footer .sitemap a:hover {
  color: $brand;
}

footer.nav-footer .nav-home img {
  height: auto;
  width: 34px;
}

.nav-footer .fbOpenSource {
  opacity: 0.5;
}

footer.nav-footer .copyright {
  color: #999;
}
