.fixedHeaderContainer {
  padding: 0;
  background-color: $deepdark;
  height: 60px;
}

.fixedHeaderContainer header img {
  height: 75%;
}

.fixedHeaderContainer header a {
  margin: 13px 0;
}

.fixedHeaderContainer header > a:first-child {
  width: 160px;
}

.fixedHeaderContainer header h3 {
  font-size: 14px;
  margin-left: 8px;
  text-decoration: none;
  font-weight: 400;
  transition: color 0.15s ease-out;
}

.fixedHeaderContainer header h3:hover {
  color: $brand;
  transition: none;
}

li.navSearchWrapper {
  font-size: 16px;
}

.fixedHeaderContainer header .headerTitleWithLogo {
  font-weight: 500;
  font-size: 1.25rem;
  color: $brand;
}

@media only screen and (max-width: 480px) {
  .headerWrapper.wrapper {
    padding: 0 10px;
  }

  .fixedHeaderContainer header > a:first-child {
    width: 140px;
  }
  .fixedHeaderContainer header .headerTitleWithLogo {
    display: initial !important;
    font-size: 1rem;
  }
}

@media only screen and (max-width: 1023px) {
  .navPusher {
    padding-top: 110px;
  }

  ul.nav-site.nav-site-internal {
    margin-top: 60px;
  }

  .navigationSlider .slidingNav ul {
    background-color: $light;
  }

  .navigationSlider .slidingNav ul li a {
    background-color: transparent;
    transition: none;
  }

  .navigationSlider .slidingNav ul li > a:hover {
    background-color: transparent;
    color: $brand;
  }

  .navigationSlider .slidingNav ul li > a:focus {
    background-color: transparent;
  }

  .navigationSlider .slidingNav ul li:not(.reactNavSearchWrapper) {
    position: relative;
  }

  .navigationSlider .slidingNav ul li.siteNavItemActive a,
  .navigationSlider .slidingNav ul li.siteNavGroupActive a {
    color: $brand;
    background-color: transparent;
  }

  .navigationSlider .slidingNav ul li.siteNavItemActive::after,
  .navigationSlider .slidingNav ul li.siteNavGroupActive::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.25rem;
    background-color: $brand;
  }

  .navigationSlider .slidingNav ul li:not(.reactNavSearchWrapper):focus-within {
    background-color: $light;
  }
}

/* the media queries for docusaurus default have an overlap
 * (i.e. using 1024 as both the min-width and max-width for separate queries)
 */
@media only screen and (max-width: 1024px) {
  .reactNavSearchWrapper input#search_input_react {
    border-radius: 0.25rem;
    background-color: $tintColor;
    color: $deepdark;
    height: 30px;
  }

  .reactNavSearchWrapper input#search_input_react:focus {
    background-color: $tintColor;
    color: $deepdark;
  }
}

@media only screen and (min-width: 1024px) {
  .navPusher {
    padding-top: 60px;
  }

  .navigationSlider .slidingNav ul li:not(.reactNavSearchWrapper) {
    position: relative;
    padding: 0;
    height: 60px;
  }

  .navigationSlider .slidingNav ul li:not(.reactNavSearchWrapper):focus-within {
    background-color: $light;
  }

  .navigationSlider .slidingNav ul li.siteNavItemActive::after,
  .navigationSlider .slidingNav ul li.siteNavGroupActive::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.25rem;
    background-color: $brand;
  }

  .navigationSlider .slidingNav ul li a {
    color: white;
    background-color: transparent !important;
    transition: color 0.15s ease-out;
    height: 60px;
    padding: 0 1.5rem;
  }

  .navigationSlider .slidingNav ul li a:hover {
    color: $brand;
    transition: none;
  }

  .navigationSlider .slidingNav ul li.siteNavItemActive a,
  .navigationSlider .slidingNav ul li.siteNavGroupActive a {
    color: $brand;
  }
}

/* Get the search icon to display correctly with box-sizing */
.reactNavSearchWrapper {
  box-sizing: initial;
}

.navSearchWrapper:before {
  border: 3px solid #717171;
}
.navSearchWrapper::after {
  background: #717171;
}

input#search_input_react {
  /* Make as wide as the expanded state in the docusaurus default */
  width: 220px;
  background-color: $tintColor;
  color: $deepdark;
  border-radius: 0.25rem;
  transition: background-color 150ms ease-in-out;
}

input#search_input_react::placeholder {
  color: #717171;
}

input#search_input_react:focus {
  background-color: $tintColor;
  color: $deepdark;
}

/* Overrides for the announcement banner */
.fixedHeaderContainer {
  height: auto;
}

.headerWrapper.wrapper {
  padding-top: 100px;
}

.navigationSlider .slidingNav {
  height: 60px;
}

.announcement {
  color: #fff;
  font-weight: bold;
  font-size: 24px;
  padding: 30px;
  text-align: center;
  height: 100px;
  position: absolute;
  width: 100%;
}

.announcement-inner {
  margin: 0 auto;
  max-width: 768px;
}

.announcement-inner a {
  text-decoration: underline;
  display: inline-block;
  color: $brand;
}

.announcement-inner a:hover {
  color: #fff;
}

.fixedHeaderContainer,
.onPageNav,
.docsNavContainer {
  transition: top 0.35s;
}

.navPusher {
  transition: top 0.35s, margin 0.35s;
}

/*
Fix small mobile device overflow with sliding up banner
(code is present on desktop and for larger devices)
 */
body {
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 700px) {
  ul.nav-site.nav-site-internal {
    margin-top: 160px;
  }
  .navPusher {
    padding-top: 210px;
  }
  .announcement {
    padding: 10px;
  }
}

@media only screen and (max-width: 500px) {
  .announcement {
    font-size: 18px;
  }
}

@media only screen and (min-width: 1024px) {
  .navPusher {
    padding-top: 160px;
  }
  .docsNavContainer {
    top: 136px;
  }
  .onPageNav {
    top: 172px;
    max-height: calc(100vh - 172px);
  }
}

@media only screen and (max-width: 1023px) {
  ul.nav-site.nav-site-internal {
    margin-top: 160px;
  }
  .navPusher {
    padding-top: 210px;
  }
  .navSearchWrapper {
    top: 114px;
  }
}
/* End announcement banner override */
