.fixedHeaderContainer {
  padding: 0;
  background-color: $deepdark;
  height: 60px;
}

.fixedHeaderContainer header img {
  height: 75%;
}

.fixedHeaderContainer header a {
  margin: 13px 0;
}

.fixedHeaderContainer header a[href="/react-native/"] {
  width: 160px;
}

.fixedHeaderContainer header h3 {
  font-size: 14px;
  margin-left: 8px;
  text-decoration: none;
  font-weight: 400;
  transition: color 0.2s ease-out;
}

.fixedHeaderContainer header h3:hover {
  color: $brand;
}

li.navSearchWrapper {
  font-size: 16px;
}

.fixedHeaderContainer header .headerTitleWithLogo {
  font-weight: 500;
  font-size: 1.25rem;
  color: $brand;
}

@media only screen and (min-width: 1024px) {
  .navigationSlider .slidingNav ul li:not(.reactNavSearchWrapper) {
    position: relative;
    padding: 13px 20px;
    height: 60px;
  }

  .navigationSlider .slidingNav ul li:not(.reactNavSearchWrapper):focus-within {
    background-color: $light;
  }

  .navigationSlider .slidingNav ul li.siteNavItemActive::after,
  .navigationSlider .slidingNav ul li.siteNavGroupActive::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: $brand;
  }

  .navigationSlider .slidingNav ul li a {
    color: white;
    background-color: transparent !important;
    transition: color 0.2s ease-out;
  }

  .navigationSlider .slidingNav ul li a:hover {
    color: $brand;
  }

  .navigationSlider .slidingNav ul li.siteNavItemActive a,
  .navigationSlider .slidingNav ul li.siteNavGroupActive a {
    /* TODO add bottom highlight to nav */
    color: $brand;
  }
}

/* Get the search icon to display correctly with box-sizing */
.reactNavSearchWrapper {
  box-sizing: initial;
}

input#search_input_react {
  background-color: $dark;
  width: 220px;
  border-radius: 0.25rem;
  transition: background-color 150ms ease-in-out;
}

input#search_input_react:focus {
  background-color: $light;
}
