/* border-box sizing */
/* TODO move to its own file and make sure the site still works */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

.ActionButton {
  text-align: center;
  background-color: #888888;
  color: white;
  padding: 10px 24px;
  font-size: 18px;
  font-weight: 300;
  margin-right: 24px;
  text-decoration: none;
}

.Section {
  width: 100%;
  min-height: 450px;
  padding-top: 50px;
}

.Section.light {
  background-color: white;
}

.Section.light2 {
  background-color: #f8f8f8;
}

.Section.dark {
  background-color: #282c33;
}

.Section.bottomSpacing {
  padding-bottom: 50px;
}

.TwoColumns {
  max-width: 900px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "first last";
}

.TwoColumns.reverse {
  grid-template-areas: "last first";
}

.TwoColumns .column {
  width: 100%;
  max-width: 450px;
}

.TwoColumns .column.first {
  grid-area: first;
}

.TwoColumns .column.last {
  grid-area: last;
}

.TwoColumns .column.left {
  padding-right: 50px;
}

.TwoColumns .column.right {
  padding-left: 50px;
}

@media screen and (max-width: 960px) {
  .TwoColumns {
    grid-template-columns: 1fr;
    grid-template-areas: "first" "last";
  }

  .TwoColumns.reverse {
    grid-template-areas: "first" "last";
  }

  .TwoColumns .column.left {
    padding-right: 40px;
    padding-left: 40px;
  }

  .TwoColumns .column.right {
    padding-right: 40px;
    padding-left: 40px;
  }
}

.Heading {
  font-size: 28px;
  color: black;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 400;
}

.HeaderHero {
  padding-top: 20px;
}

.HeaderHero .TwoColumns {
  grid-template-columns: 3fr 1fr;
}

.HeaderHero .column {
  max-width: initial;
}

.HeaderHero .column.left {
  padding-right: 0;
}

.HeaderHero .column.right {
  padding-left: 0;
}

.HeaderHero .socialLinks {
  display: flex;
  justify-content: flex-end;
  margin-right: 60px;
  margin-bottom: 20px;
}

.HeaderHero .TwoColumns {
  align-items: center;
}

.HeaderHero .title {
  font-size: 96px;
  color: #61dafb;
  line-height: 1;
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 500;
}

.HeaderHero .tagline {
  font-size: 36px;
  line-height: 1.3;
  color: white;
  font-weight: 500;
}

.HeaderHero .buttons {
  margin-top: 40px;
}

.HeaderHero .image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Feature {
  max-height: 450px;
  overflow: hidden;
}

@media screen and (max-width: 960px) {
  .Feature {
    max-height: initial;
  }
}

.IntroImage {
  position: relative;
  overflow: hidden;
  height: 400px;
}

.IntroImage .iphone {
  position: absolute;
  width: 300px;
  top: 10px;
  left: 0px;
}

.IntroImage .android {
  position: absolute;
  width: 300px;
  top: 20px;
  left: 80px;
}

.CodeExample {
  /* FIXME hack hack hack hack */
  margin-top: -50px;
  margin-left: -50px;
  padding-top: 50px;
  padding-left: 20px;
  background-color: black;
  /* max-height: 450px; */
  /* overflow-y: scroll; */
}

.CodeExample .Heading {
  color: white;
  font-family: "Courier New", Courier, monospace;
  font-weight: 500;
}

.CodeExample code {
  padding: 0;
  color: #f8f8f8 !important;
}

/* FIXME import a stylesheet instead once we adjust the rest of the codebase */
.CodeExample .token.keyword {
  color: #ae81ff;
}

.CodeExample .token.string {
  color: #a6e22e;
}

.CodeExample .token.operator {
  color: #cfcfc2;
}

.CodeReloadDemo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.CodeReloadDemo .Heading {
  color: #61dafb;
}

.DocsAndTalks .TwoColumns {
  grid-template-columns: 2fr 1fr;
}

.DocsAndTalks iframe {
  width: 560px;
  height: 315px;
}

@media screen and (max-width: 960px) {
  .DocsAndTalks iframe {
    width: 300px;
    height: 169px;
  }
}

.Community .content {
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 961px) {
  .Community .column.first {
    border-right: 1px solid gray;
  }
}

.Community .firstP {
  display: flex;
  align-items: center;
}

.Community .firstP span {
  margin-left: 20px;
}

.Community .last {
  margin-top: 10px;
}

.Community .Heading {
  color: black;
}

.AppList {
  display: grid;
  padding: 0;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 15px;
}

.AppList .item {
  list-style: none;
}

.GetStarted {
  color: white;
}

.GetStarted .content {
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.GetStarted .Heading {
  color: white;
}

.GetStarted .steps {
  align-self: center;
}

.GetStarted .steps li {
  font-size: 28px;
}

.GetStarted .terminal {
  display: flex;
  flex-direction: column;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  border-top: 1px solid gray;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 30px 30px 0px 30px;
  width: 600px;
  position: relative;
}

@media screen and (max-width: 960px) {
  .GetStarted .terminal {
    width: 400px;
  }
}

.GetStarted .terminal::before {
  content: "○ ○ ○";
  color: gray;
  font-size: 16px;
  position: absolute;
  left: 15px;
  top: 5px;
}

.GetStarted code {
  color: white !important;
  font-size: 18px;
  position: relative;
}

.GetStarted code:first-child::before {
  content: ">";
  position: absolute;
  left: -13px;
  color: gray;
}
