/* border-box sizing */
/* TODO move to its own file and make sure the site still works */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

.ActionButton {
  text-align: center;
  background: #888888;
  color: white;
  padding: 10px 24px;
  font-size: 18px;
  font-weight: 300;
  margin-right: 24px;
  text-decoration: none;
}

.HeaderHero {
  width: 100%;
  height: 450px;
  background: #282c33;
  padding: 50px 0;
}

.HeaderHero .grid {
  max-width: 900px;
  margin: 0 auto;
  display: flex;
}

.HeaderHero .column {
  max-width: 450px;
  width: 100%;
}

.HeaderHero .title {
  font-size: 96px;
  color: #61dafb;
  line-height: 1;
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 500;
}

.HeaderHero .tagline {
  font-size: 36px;
  line-height: 1.3;
  color: white;
  font-weight: 500;
}

.HeaderHero .buttons {
  margin-top: 40px;
}

.HeaderHero .image {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* TODO consolidate with HeaderHero */
.Feature {
  width: 100%;
  height: 450px;
  background: white;
  padding: 50px 0;
}

.Feature:nth-child(odd) {
  background: white;
}

.Feature:nth-child(even) {
  background: #f8f8f8;
}

.Feature .grid {
  max-width: 900px;
  margin: 0 auto;
  display: flex;
}

.Feature:nth-child(odd) .grid {
  flex-direction: row-reverse;
}

.Feature:nth-child(even) .grid {
  flex-direction: row;
}

.Feature .column {
  max-width: 450px;
  width: 100%;
}

.Feature:nth-child(odd) .text {
  margin-left: 75px;
}

.Feature:nth-child(even) .text {
  margin-right: 75px;
}

.Feature .heading {
  font-size: 28px;
  color: black;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 500;
}

.Feature .image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.CodeReloadDemo {
  width: 100%;
  height: 450px;
  background: #282c33;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.CodeReloadDemo .heading {
  font-size: 30px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 20px;
  color: #61dafb;
  line-height: 1;
  text-align: center;
}
