/* border-box sizing */
/* TODO move to its own file and make sure the site still works */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

.ActionButton {
  text-align: center;
  background: #888888;
  color: white;
  padding: 10px 24px;
  font-size: 18px;
  font-weight: 300;
  margin-right: 24px;
  text-decoration: none;
}

.HeaderHero {
  width: 100%;
  background: #282c33;
  padding: 50px 0;
}

.HeaderHero .grid {
  max-width: 900px;
  margin: 0 auto;
  display: flex;
}

.HeaderHero .column {
  max-width: 450px;
  width: 100%;
}

.HeaderHero .title {
  font-size: 96px;
  color: #61dafb;
  line-height: 1;
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 500;
}

.HeaderHero .tagline {
  font-size: 36px;
  line-height: 1.3;
  color: white;
  font-weight: 500;
}

.HeaderHero .buttons {
  margin-top: 40px;
}

.HeaderHero .image {
  display: flex;
  align-items: center;
  justify-content: center;
}
