.toggler {
  margin-bottom: 1em;
}
.toggler li {
  display: inline-block;
  position: relative;
  top: 1px;
  padding: 10px;
  margin: 0px 2px 0px 2px;
  border-bottom-color: transparent;
  border-radius: 3px 3px 0px 0px;
  font-size: 0.99em;
  cursor: pointer;
}

.toggler li,
.toggler button {
  color: $secondaryColor;
  border: 1px solid $secondaryColor;
  background-color: transparent;
}

.toggler li.active,
.toggler button.active {
  color: white;
  background-color: $secondaryColor;
}

.toggler li:first-child {
  margin-left: 0;
}
.toggler li:last-child {
  margin-right: 0;
}
.toggler ul {
  width: 100%;
  display: inline-block;
  list-style-type: none;
  padding: 0;
  margin: 0;
  border-bottom: 1px solid $subtle;
  cursor: default;
}
@media screen and (max-width: 960px) {
  .toggler li,
  .toggler li:first-child,
  .toggler li:last-child {
    display: block;
    border-bottom-color: $subtle;
    border-radius: 3px;
    margin: 2px 0px 2px 0px;
  }
  .toggler ul {
    border-bottom: 0;
  }
}
.toggler button {
  display: inline-block;
  padding: 10px 5px;
  margin: 2px;
  border-radius: 3px;
  text-decoration: none;
  font-size: 16px;
}

block {
  display: none;
}

block.active {
  display: block;
}
