.toggler {
  margin-bottom: 1em;
}
.toggler li {
  display: inline-block;
  top: 1px;
  padding: 10px;
  margin: 0 2px;
  border-bottom-color: transparent;
  border-radius: 3px 3px 0 0;
  font-size: 0.99em;
}

.toggler li,
.toggler button {
  position: relative;
  color: $text;
  background-color: transparent;
  cursor: pointer;
}

.toggler li:hover,
.toggler button:hover {
  color: $subtle;
}

.toggler li.active,
.toggler button.active {
  font-weight: 700;
}

.toggler li::after,
.toggler button::after {
  content: "";
  position: absolute;
  bottom: 1px;
  left: 0;
  height: 3px;
  width: 100%;
  background-color: $brand;
  transform: scaleX(0);
  transition: transform 0.2s ease-out;
}

.toggler li.active::after,
.toggler button.active::after {
  transform: scaleX(1);
}

.toggler li:first-child {
  margin-left: 0;
}
.toggler li:last-child {
  margin-right: 0;
}
.toggler ul {
  width: 100%;
  display: inline-block;
  list-style-type: none;
  padding: 0;
  margin: 0;
  border-bottom: 1px solid $divider;
  cursor: default;
}

.toggler button {
  display: inline-block;
  padding: 10px 5px;
  margin: 2px;
  border: none;
  text-decoration: none;
  font-size: 16px;
}

block {
  display: none;
}

block.active {
  display: block;
}

.toggler span:first-child {
  font-weight: 700;
}

@media only screen and (max-width: 480px) {
  .toggler span:first-child {
    display: block;
  }
}
