.collapsible .arrow {
  transform: rotate(180deg);
}

.collapsible .arrow.rotate {
  transform: rotate(0);
}

.container.docsNavContainer {
  overflow: visible;
}

.toc {
  height: 100%;
  border-right: 1px solid $divider;
  margin-left: -9999px;
  padding-left: 9999px;
  overflow-y: auto;
  background-color: $tintColor;
}

.toc .toggleNav .navGroup .navGroupCategoryTitle {
  color: #6d6d6d;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.08em;
}

.toc .toggleNav .navGroup .navGroupCategoryTitle:hover {
  color: black;
}

.toc .toggleNav ul {
  padding: 0px;
  padding-right: 10px;
}

.toc .toggleNav ul li a {
  color: $text;
  background-color: transparent;
  font-size: 16px;
}

.toc .toggleNav ul li a:hover {
  color: #6d6d6d;
}

.toc .toggleNav ul li.navListItemActive a {
  font-weight: 700;
}

.toc .toggleNav ul li {
  position: relative;
}

.toc .toggleNav ul li.navListItemActive::after {
  content: "";
  background-color: $brand;
  position: absolute;
  width: 5px;
  top: 2px;
  right: 0;
  bottom: 2px;
}
