.home-float-1 {
  position: fixed;
  padding-left: 1600px;
  width: 1800px;
  height: 308px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 50px;
}

@media only screen and (max-width: 1800px) {
  .home-float-1 {
    padding-left: 0;
    width: 200px;
    height: 308px;
    left: auto;
    right: 0;
  }
}

@media only screen and (max-width: 1024px) {
  .home-float-1 {
    width: 150px;
    height: 231px;
    top: 135px;
  }
}


@media only screen and (max-width: 750px) {
  .home-float-1 {
    width: 100px;
    height: 154px;
    top: 170px;
  }
}


@media only screen and (max-width: 680px) {
  .home-float-1 {
    top: 155px;
  }
}

@media only screen and (max-width: 540px) {
  .home-float-1 {
    display: none;
  }
}

.home-float-close {
  display: block;
  position: absolute;
  font-size: 20px;
  width:20px;
  height:20px;
  line-height: 20px;
  color: white;
  right: 4px;
  top: 4px;
}