.lastUpdated {
  margin-top: 0.2rem;
  font-style: italic;
  font-size: smaller;
}

.editButtons {
  column-gap: 0.4rem;
  display: flex;
  flex: 1;
}

@media (min-width: 997px) {
  .lastUpdated {
    text-align: right;
  }
}
