{
  "overrides": [
    {
      "files": ".prettierrc",
      "options": {
        "parser": "json"
      }
    },
    {
      "files": ["core/**/*.js", "static/js/**/*.js"],
      "options": {
        "bracketSpacing": false,
        "jsxBracketSameLine": true,
        "printWidth": 80,
        "singleQuote": true,
        "trailingComma": "es5"
      }
    },
    {
      "files": ["../docs/**/*.md", "versioned_docs/**/*.md"],
      "options": {
        "bracketSpacing": false,
        "jsxBracketSameLine": true,
        "printWidth": 80,
        "proseWrap": "never",
        "singleQuote": true,
        "trailingComma": "es5"
      }
    }
  ]
}
