.NativeApps {
  overflow: hidden;
}

@media only screen and (max-width: 960px) {
  .NativeApps .column.last {
    max-height: 300px;
  }
}

@media only screen and (min-width: 481px) and (max-width: 960px) {
  .NativeApps .column.last {
    width: 66.7%;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 961px) {
  .NativeApps {
    max-height: 400px;
  }

  /* Correct for whitespace in the image of phones */
  .NativeApps .column.left {
    margin-top: -25px;
  }
}
